*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(15px + 0.390625vw);
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #bbb872;
}

a {
  display: inline;
  text-decoration: none;
  color: inherit;
  font-size: 1em;
  color: #4d4d64;
}

a:hover,
a:focus {
  color: #8b1a34;
}

#logo {
  float: left;
}

nav img {
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 120px;
  max-height: 90px;
  display: inline-block;
}

nav menu,
.hamburger-menu {
  float: right;
  line-height: 80px;
  margin-top: 15px;
  margin-right: 1em;
}

.hamburger-menu {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  padding: 1em;
}

.ham-bar {
  width: 50%;
  height: 0.2rem;
  background-color: #8b1a34;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s, opacity 0.8s, top 0.6s;
}

.bar-top {
  top: 25%;
}

.bar-bottom {
  top: 75%;
}

.hamburger-menu.active .bar-top {
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 50%;
}

.hamburger-menu.active .bar-mid {
  opacity: 0;
}

.hamburger-menu.active .bar-bottom {
  transform: translate(-50%, -50%) rotate(-225deg);
  top: 50%;
}

.navbar li {
  list-style-type: none;
}

.menu {
  position: fixed;
  right: -175%;
  transition: right 0.5s;
  margin-right: 1em;
  margin-top: 3em;
  width: 100%;
  z-index: 15;
  background: #bbb872;
}

.menu ul {
  vertical-align: top;
}

.menu li {
  margin-top: 1em;
  font-size: 1em;
}

.menu a,
.back {
  margin: 0;
  padding-top: 0.3em;
  padding-left: 0.5em;
  padding-bottom: 1em;
  text-decoration: none;
  font-size: 0.7em;
  font-weight: bold;
}

.menu a {
  margin: 0;
  padding-top: 1em;
  padding-left: 0.5em;
  padding-bottom: 1em;
  text-decoration: none;
  font-size: 0.7em;
  font-weight: bold;
}

.menu.active {
  left: 0%;
  margin-top: 90px;
  font-size: 2em;
}

.navbar.active {
  position: fixed;
  min-width: 100%;
  height: 100vh;
  background: #bbb872;
  z-index: 999;
}

.menu a:hover {
  border-bottom: 1px solid #8b1a34;
}

.welcome {
  background-image: url("../banner.jpg");
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #bbb872;
  background-size: cover;
  background-position: center;
  flex: 1;
  color: #8b1a34;
  font-weight: bolder;
  background-color: rgba(59, 121, 33, 0.5);
  box-shadow: inset 0 0 0 50vw rgba(188, 183, 36, 0.3);
}

.welcome h1 {
  padding-top: 2em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  z-index: 2;
}

.welcome p,
.project-style p {
  padding-top: 10px;
  text-align: center;
  font-size: 0.75em;
  font-weight: 600;
  font-style: italic;
  flex: 1;
  z-index: 2;
}

.welcome p::after {
  content: "|";
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
}
.scroll a {
  color: #8b1a34;
  position: absolute;
  bottom: 1em;
  z-index: 2;
  display: inline-block;
  transform: translate(0, -50%);
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
  padding-top: 2em;
}

.scroll a:hover {
  opacity: 0.5;
}

.scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #8b1a34;
  border-bottom: 1px solid #8b1a34;
  transform: rotate(-45deg);
}

.portfolio {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
}

.port.education, .languages {
  max-width: 100%;
}

.port {
  color: #4d4d64;
  padding-top: 1.5em;
  padding-bottom: 1em;
  font-size: 0.7em;
}

.port h3 {
  font-size: 2.1em;
}

.port p {
  color: black;
}

.education p,
.languages li {
  font-size: 0.7em;
  list-style: circle;
}

h5 {
  padding-top: 0.7em;
}

h6 {
  padding-bottom: 0.5em;
}

.projects {
  padding-top: 1.5em;
  color: #8b1a34;
  text-align: center;
  padding-bottom: 1em;
}

.pic-ctn {
  height: 300px;
  margin-top: 3em;
}

.pic-ctn > img {
  display: block;
  top: 0;
  margin-left: auto;
  margin-right: auto;
}

.enquiry h3 {
  color: #4d4d64;
  margin-top: 5em;
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.container {
  border: 3px solid #8b1a34;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 5px;
  text-align: left;
  font-size: 0.7em;
  box-shadow: inset 9px 8px 10px -10px #8b1a34;
}

.container ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
}

.info p, .info li {
  margin: 0 0 1rem 0;
  padding-bottom: 0.2em;
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1/3;
}

.contact form button, .contact form input, .contact form textarea {
  width: 100%;
  padding: 1em;
  margin: 5px 0;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 2px solid #8b1a34;
  border-radius: 10px;
  background-color: antiquewhite;
}

#submit {
  background-color: #8b1a34;
  color: antiquewhite;
  background-color: #8b1a34;
  width: 8em;
  display: block;
  font-size: 1.25em;
  padding: 5px;
  margin: 0 auto;
}

#submit:hover, #submit:focus {
  background: #4d4d64;
  outline: 0;
  transition: background-color 0.5 s ease-out;
}

.Thankyou {
  display: none;
}

#errors {
  font-weight: bold;
  padding-top: 1em;
}

.footer {
  background: #4d4d64;
  text-align: center;
  width: 100%;
  padding: 0.6% 0%;
  font-size: 0.8em;
  z-index: 9999;
  position: sticky;
  bottom: 0;
}

.footer a {
  padding: 0.5em;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.footer a:hover {
  color: #8b1a34;
}

.about,
.scheme {
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

.about h2,
.scheme h2 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  color: #8b1a34;
  margin-top: 20%;
}

.about p,
.scheme p,
.scheme li {
  padding-bottom: 2%;
  font-size: 0.9em;
  list-style: circle;
}

.back {
  text-align: center;
}

.about img {
  max-width: 70%;
  height: auto;
}

h1 {
  color: #4d4d64;
  text-align: center;
  font-size: 1.5em;
}

@media screen and (min-width: 650px) {
  .main-wrapper,
  .about,
  .scheme {
    min-height: 100%;
    max-height: 100%;
    position: relative;
    margin-left: 15%;
    z-index: 1;
    margin-top: 0;
  }
  .about,
  .scheme {
    padding-left: 5%;
  }
  .about h2,
  .scheme h2 {
    margin-top: 1%;
  }
  .navbar {
    max-width: 15%;
    height: 100vh;
    position: fixed;
    padding: 0;
    overflow: auto;
    background-color: #bbb872;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .navbar img {
    padding: 0;
    padding-top: 1em;
    padding-right: 0.2em;
    padding-left: 0.2em;
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .hamburger-menu {
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
  }
  .ham-bar {
    width: 50%;
    height: 0.2rem;
    background-color: #8b1a34;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s, opacity 0.8s, top 0.6s;
  }
  .bar-top {
    top: 25%;
  }
  .bar-bottom {
    top: 75%;
  }
  .hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
  }
  .hamburger-menu.active .bar-mid {
    opacity: 0;
  }
  .hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
  }
  .navbar li {
    list-style-type: none;
  }
  .menu {
    position: fixed;
    left: -50%;
    transition: left 0.5s;
    margin-top: 9em;
    max-width: 15%;
  }
  .menu ul {
    display: block;
  }
  .menu li {
    margin-top: 0;
    display: list-item;
  }
  .menu a {
    display: none;
  }
  .menu a,
  .back {
    margin: 0;
    padding-top: 0.3em;
    padding-left: 0.5em;
    padding-bottom: 1em;
    display: block;
    text-decoration: none;
    font-size: 0.7em;
    font-weight: bold;
  }
  .navbar.active {
    min-width: 15%;
    height: 100vh;
    background: #bbb872;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .menu.active {
    left: 0;
    max-width: 15%;
    margin-top: 140px;
    font-size: 1.1em;
  }
  .menu a:hover {
    border-bottom: 1px solid #8b1a34;
  }
  .portfolio {
    margin-left: 19%;
  }
  form {
    z-index: 99;
  }
  .container {
    width: 70%;
  }
  .enquiry {
    margin-left: 3%;
  }
  footer {
    z-index: 99;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .menu a {
    font-size: 0.7em;
    padding-bottom: 1.3em;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    padding: 2em;
  }
  .info p, .info ul, .brand {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .welcome {
    box-shadow: none;
  }
  .hamburger-menu {
    display: none;
  }
  .menu {
    left: 0;
  }
  .menu a {
    font-size: 0.8em;
    padding-bottom: 1.4em;
  }
  .welcome h1 {
    font-size: 2em;
  }
  .welcome p {
    font-size: 0.85em;
  }
  .portfolio {
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }
  .port, .education, .languages {
    max-width: 33.3333333333%;
  }
}
@media (min-width: 992px) {
  .welcome {
    box-shadow: none;
  }
  .main-wrapper,
  .about,
  .scheme {
    margin-left: 12%;
    z-index: 1;
    margin-top: 0;
  }
  .about h2,
  .scheme h2 {
    margin-top: 1%;
  }
  .navbar {
    min-width: 12%;
    max-width: 12%;
  }
  .menu {
    max-width: 12%;
  }
  .hamburger-menu {
    display: none;
  }
  .menu {
    left: 0;
  }
  .menu a {
    font-size: 0.8em;
    padding-bottom: 1.4em;
  }
  .welcome h1 {
    font-size: 2.5em;
  }
  .welcome p {
    font-size: 1em;
  }
  .portfolio {
    margin-left: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }
  .port, .education, .languages {
    max-width: 33.3333333333%;
  }
  .enquiry {
    margin-left: 1%;
  }
}/*# sourceMappingURL=applications.css.map */