.about,
.scheme{
  
padding-top:5%;
padding-right:5%;
padding-left: 5%;
// padding-bottom: 2%;


}
.about h1{
  margin-top: 10%;
  padding-right: 0;
  text-align: center;
}
.about h2,
.scheme h2{
 font-size: 1.3em;
 margin-bottom: 0.5em;
 color: $font-main;
 margin-top: 2%;
}
.about h3{
  margin-top:0.5em;
  margin-bottom: 0.5em;
  font-size: 1.1em;
}
.about p,
.scheme p,
.scheme li{
  padding-bottom: 2%;
  font-size: 0.9em;
  list-style: circle;
}

.back{
    text-align: center;
    // margin-top: 5em;
}
.about img{
  
  max-width: 70%;
  height: auto;
}
h1{
  color: $font;
    text-align:center;
    font-size: 1.5em;
}