.about,
.scheme{
padding-top:5%;
padding-right:5%;
padding-left: 5%;


}

.about h2,
.scheme h2{
 font-size: 1.1em;
 margin-bottom: 0.5em;
 color: $font-main;
 margin-top: 20%;
}

.about p,
.scheme p,
.scheme li{
  padding-bottom: 2%;
  font-size: 0.9em;
  list-style: circle;
}

.back{
    text-align: center;
}
.about img{
  
  max-width: 70%;
  height: auto;
}
h1{
  color: $font;
    text-align:center;
    font-size: 1.5em;
}