
#logo{
  float:left;

}

nav img{
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 120px;
  max-height: 90px;
  display: inline-block;
  
}
nav menu,
.hamburger-menu{
 float:right;
 line-height: 80px;
 margin-top:15px;
 margin-right: 1em;
}
.hamburger-menu{
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  padding: 1em;
}


.ham-bar{
  width: 50%;
  height: .2rem;    
  background-color:$design;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  transition: transform 1s, opacity .8s, top .6s;

}

.bar-top{
  top: 25%;
}
.bar-bottom{
  top: 75%;
}

.hamburger-menu.active .bar-top{
  transform: translate(-50%, -50%) rotate(-315deg);
  top:50%;
}
 
.hamburger-menu.active .bar-mid{
  opacity: 0;
}

.hamburger-menu.active .bar-bottom{
  transform: translate(-50%, -50%) rotate(-225deg);
  top:50%;
}

.navbar li {
    list-style-type: none;
    
}
.menu{
  position: fixed;
  right : -175%;
  transition: right .5s;
  margin-right: 1em;
  margin-top: 3em;

 width:100%;

 z-index: 15;
 background: $background;
  
}
.menu ul{
 // display: inline-block;
  vertical-align: top;
 // max-width:100%;
}
.menu li{
  margin-top: 1em;
  //display: inline;
  font-size: 1em;
}
  .menu a,
  .back{
   
    margin:0;
    padding-top: .3em;
    padding-left:0.5em;
    padding-bottom: 1em;
    text-decoration:none;
    font-size: .7em;
    font-weight: bold;
    
    
} 
.menu a
  {
   
    margin:0;
    padding-top: 1em;
    padding-left:0.5em;
    padding-bottom: 1em;
    text-decoration:none;
    font-size: .7em;
    font-weight: bold;
    
    
} 

.menu.active {
  left:0%;
  //min-width:100%;
  //height: 100vh;
  margin-top:90px;
 //position:sticky;
 font-size: 2em;
 
}
.navbar.active{
  position:fixed;
  min-width:100%;
  height: 100vh;
  background:$background;
  z-index:999;
}
.menu a:hover{
 
  border-bottom: 1px solid $a-focus;
  
 }

